* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgba(0, 0, 0);
}
body::-webkit-scrollbar{
   display: block;

}
::-webkit-scrollbar-thumb{
    background-color: var(--priamry-color);
    border-radius: 5px;
    width: 50%;
}
::-webkit-scrollbar-track{
    background-color: rgb(39, 36, 37);
    border-radius: 5px;
}
::-webkit-scrollbar-button{
    background-color: red;
}
::-webkit-validation-bubble-arrow{
    color: rgb(0, 0, 0); 
}
:root{
    --priamry-color:red;
    --secondry-text-color:black;
    --last-color:black;
}
.container .header{
    width: 100%;
    padding:20px;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    background: linear-gradient(red,black);
    opacity: 100;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}
@media screen and (max-width:690px){
    .container .header{
        padding: 3px;
        width: 100%;
        background-color: var(--secondry-text-color);
        opacity: 100;
        position: fixed;
    }
    .container{
        width: 100%;
    }
}
.container .header .innerHeader{
    display: flex;
}
.container .header .innerHeader  #search{
    width: 65rem;
    height: 40px;
    caret-color:  var(--priamry-color);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.5rem;
    color:#ffffff;
    background-color:  var(--last-color);
}
.container .header .innerHeader  #search:active{
    background-color:  var(--priamry-color);
}
@media screen and (max-width:690px){
    .container .header .innerHeader #search{
        width: 80%;
        height: 25px;
        font-size: 1rem;
    }
}
@media screen and (max-width:1000px){
    .container .header .innerHeader{
        width: 100%;
        margin-left: 30px;
    }
    .container .header .innerHeader #search{
        width: 100%;
    }
}
.container .header .innerHeader .search_img {
    background-color:transparent;
    width: 50px;
    height: 40px;
    top: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .5s ease-in-out;
    overflow: hidden;
}
@media screen and (max-width:690px){
    .container .header .innerHeader .search_img{
        width: 25px;
        height: 25px;
    }
}
.container .header .innerHeader .search_img:hover{
    transform: scale(1.1);
}
.container .header  .firstbtn {
    display: grid;
    width: 100px;
    height: 100px;
}
@media screen and (max-width:690px){
    .container .header .firstbtn{
        width: 50px;
        height: 50px;
    }
    container > .header> [showroom]{
       display: none;
       width: 0;
       height: 0;
    }
    .container > .header> [showroom] >[name]{
        display: none;
    }
}
.container > .header> [showroom]{
    display: flex;
    width: 250px;
    height: 70px;
    margin: 5px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.container > .header> [showroom] >[name]{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: var(--priamry-color);
}
.container > .header> [showroom] >[name]>span{
    color: var(--last-color);
    font-size: 3.5rem;
}
.container .header .firstbtn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    width: 70px;
    height: 70px;
    box-shadow: 3px 4px 5px   var(--priamry-color) ;
    z-index: 1;
}
.container .header .firstbtn button:hover{
    background-color: rgba(0, 0, 0, 0.801);
    width: 70px;
    height: 70px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid  var(--priamry-color);

}
.container .header .firstbtn button span {
    width: 50px;
    height: 5px;
    background-color:  var(--priamry-color);
    border-radius: 50px;
}
@media screen and (max-width:690px){
    .container .header .firstbtn button{
        gap: 5px;
        width: 40px;
        height: 40px;
    }
    .container .header .firstbtn button:hover{
        width: 40px;
        height: 40px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid  var(--priamry-color);
    }
    .container .header .firstbtn button span{
        width: 80%;
        height: 3.5px;
    } 
}

.container .header .style-scope .Notifications{
    background-color: transparent;
    color:  var(--priamry-color);
    border: none;
    margin: 0 20px;
}
.container .header .style-scope .Notifications:hover{
    color: var(--last-color);
}

.container .header .style-scope {
    border: none;
    margin: 0 20px;
    background-color: transparent;
}
@media screen and (max-width:690px){
    .container .header .style-scope .Notifications{
        margin: 0;
    }   
    .container .header .style-scope {
        margin: 0;
    }
    /* .container hr{
        width: 80%;
        position: absolute;

    } */
}

.container hr{
    width: 80%;
    margin: 0  auto 50px;
    background-color:  var(--priamry-color);
    border: 1px solid  var(--priamry-color);


}
.container .link_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:300px ;
    background-color:  var(--priamry-color);
    clip-path: circle(25% at 0 0);
    transition: all 3s ease;
    justify-content: space-around;
    overflow-x: scroll;
    top: 10%;
    position:fixed;
    display: none;
    z-index: 2;
}
.container .link_box::before{
    width: 100px;
    background-color: red;
}
.container .link_box::-webkit-scrollbar{
    display: none;
}
.container .link_box:hover{
    clip-path: circle(100%);
}
.container .link_box hr{
    width: 90%;
    background-color:  var(--secondry-text-color);
    border: 1px solid  var(--secondry-text-color);
    position: relative;
    margin: 0 auto;
}
.container .link_box a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--secondry-text-color);
    transition: all .5s;
    width: 95%;
    padding: 10px ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;

}
.container .link_box a:hover{

    color: var(--priamry-color);
}
.container .link_box a img{
    width: 20px;
    height: 20px;
    background-color:var(--last-color);
    color: #ffffff;
}
[link]:hover{
    background-color: black;
}
@media screen and (max-width:1000px){
    .container .link_box{
        height: 100%;
        width: 30em;
        justify-content: flex-start;
        clip-path: circle(20% at 0 0);
        overflow-x: scroll;
        position: fixed;
    }
    .container .link_box a{
        font-size: 2rem;
        text-transform: capitalize;
        width: 100%;
    }
} 

@media screen and (max-width:690px){
    .container .link_box{
        height: 100%;
        width: 10em;
        justify-content: flex-start;
        clip-path: circle(20% at 0 0);
        overflow-x: scroll;
        position: fixed;
    }
    .container .link_box a{
        font-size: .8rem;
        text-transform: capitalize;
        width: 100%;
    }
    
}
 .container .movie_Contaier{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container .movie_Contaier::after {
    content: " ";
    width: 100%;
  }

.container .movie_Contaier .movie_box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    align-items: center;
    justify-content: center;
    animation: roll linear;
    /* animation-timeline: view(); */
}
@keyframes roll{
    to{
        opacity: 0;
    }
}

.container .movie_Contaier .movie_box .inner_box{
    width: 550px;
    height: 370px;
    overflow: hidden;
    object-fit: cover;

}
.container .movie_Contaier .movie_box .inner_box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;  
    position: relative;
    transition: 100ms ease-in-out;
}
.container .movie_Contaier .movie_box video:hover{
    border-radius: 0%;
}
.container .movie_Contaier .movie_box video::after{
    border-radius: 0;
}

.container .movie_Contaier .movie_box [name]{
    width: 150px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 2s ease-in-out;
}
.container .movie_Contaier .movie_box [name]:hover{
    width: auto;
}

@media screen and (max-width:690px){
    .container .movie_Contaier{
        width: 100%;
        padding:5px  0 0 0;
        display: grid;
        grid-template-columns: 2,auto;
    }
    .container .movie_Contaier .movie_box {
        width: 150px;
        height: 200px;   
        padding: 0;     
    }
    .container .movie_Contaier .movie_box .inner_box{
        width: 170px;
        height: 120px;
        overflow: hidden;
    }
    .container .movie_Contaier .movie_box video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3.5px; 
    }
    .container .movie_Contaier .movie_box [name]{
        color: white;
        font-size: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.root{
    display: flex;
    width: 100%;
    height:100%;
    gap: 50px;

    justify-content: center;
    align-items: center;
    padding: 70px;
    /* animation: roll1 .3s infinite linear ; */
}
@media screen and (max-width:690px){
}
@keyframes  roll1 {
    to{
        transform: rotate(360deg);
    }
} 

.root .inner_root{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.root .inner_root [name]{
    background-color:transparent;
    width:30rem ;
    height: 30rem;
    position:absolute;
    border-radius: 50%;
    animation: rolls 5s infinite linear both ;
    animation-direction: alternate;
    gap: 55px;
    transform: scale(0.1);
}
@keyframes rolls{
    to{
        transform:  scale(1.1);
    }
}
.root .inner_root [name]:nth-child(1){
    border-left: 10px var(--priamry-color) solid;
    border-right: 10px blue  solid;
    box-shadow:  var(--priamry-color)10px 10px 10px 10px ;
    border-left: 10px  var(--priamry-color)solid;
}
.root .inner_root [name]:nth-child(2){
    /* transform: rotate(-70deg) rotateX(200deg) rotateY(-180deg); */
    box-shadow: rgb(0, 255, 0) 10px 10px 10px 10px ;
    border-left: 10px rgb(0, 255, 0) solid;
}
.root .inner_root [name]:nth-child(3){
    rotate:-170deg;
    box-shadow: red 10px 10px 10px 10px ;
    border-left: 10px red solid;
}
.root .inner_root [name]:nth-child(4){
    box-shadow: rgb(255, 217, 0) 10px 10px 10px 10px ;
    border-left: 10px rgb(255, 217, 0) solid;

}
.root .inner_root .logos{
      width: 270px;
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      animation: rotate .3s infinite linear ;
}

.root .inner_root .logos [logo]{
    width: 200px;
    height: 10px;
    /* background-color: var(--priamry-color); */
    position:absolute;
    animation: rotate 3s infinite linear ease-in-out;
    animation-direction: alternate;
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
} 
.root .inner_root [logo]:nth-child(1){
    transform: rotate(40deg);
    background: linear-gradient(90deg,transparent,blue);
 

}
.root .inner_root [logo]:nth-child(2){
    transform: rotate(-40deg);
    background: linear-gradient(90deg,rgb(12, 223, 12),transparent);
 

}

.root .inner_root [logo]:nth-child(3){
    transform: rotate(90deg);
    background: linear-gradient(90deg,red,transparent);
}

.movie_Contaier2{
    width:100%;
    height: 700px;
    background-color: var(--priamry-color);
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    box-shadow: var(--secondry-text-color) 5px 4px 5px 3px inset;
    anchor-position: my-anchor left 10px;
}
.movie_Contaier2::-webkit-scrollbar{
    display: none;
 
 }
@media screen and (max-width:690px){
    .movie_Contaier2{
        height: 200px;
    }
    .movie_Contaier2>.movie_box2{
        width: 200px;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .movie_Contaier2 .movie_box2 .inner_box2{
        width: 100%;
        height: 100%;
    }
    .movie_Contaier2 .movie_box2 .inner_box2 video{
        width: 100px;
        height: 90%;
        object-fit: cover;
        border-radius: 5px;
    }
    .movie_Contaier2 .movie_box2  [name]{
       
        font-weight: 600;
        font-size: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffff;
    }
    .movie_Contaier2 .movie_box2  [name]:hover{
        color: black;
        font-size: .10rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
@media screen and (min-width:1000px) {
    .movie_Contaier2 .movie_box2{
        width: 500px; 
        height: 100%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .movie_Contaier2 .movie_box2 .inner_box2{
        width: 100%;
        height: 90%;
    }
    .movie_Contaier2 .movie_box2 .inner_box2 video{
        width: 300px;
        height: 100%;
        margin: 5px;
        object-fit: cover;
        border-radius: 20px;
    }
    .movie_Contaier2 .movie_box2 .inner_box2 video:hover{
        box-shadow: #ffffffc9 2px -2px 2px 2px ;
    }
    .movie_Contaier2 .movie_box2  [name]{
        margin: 10px auto;
        font-weight: 600;
        font-size: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffff;
    }
    .movie_Contaier2 .movie_box2  [name]:hover{
        width: 100px;
        color: black;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
}
@media screen and (min-width:700px) {
    .movie_Contaier2 .movie_box2{
        width: 500px; 
        height: 100%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .movie_Contaier2 .movie_box2 .inner_box2{
        width: 100%;
        height: 90%;
    }
    .movie_Contaier2 .movie_box2 .inner_box2 video{
        width: 300px;
        height: 100%;
        margin: 5px;
        object-fit: cover;
        border-radius: 20px;
    }
    .movie_Contaier2 .movie_box2 .inner_box2 video:hover{
        box-shadow: #ffffffc9 2px -2px 2px 2px ;
    }
    .movie_Contaier2 .movie_box2  [name]{
        margin: 10px auto;
        font-weight: 600;
        font-size: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffff;
    }
    .movie_Contaier2 .movie_box2  [name]:hover{
        width: 100px;
        color: black;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }
}
.hr{
    width: 90%;
    border: var(--priamry-color)  2px dotted;
    margin: 20px auto;
} 