* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgba(0, 0, 0);
    overflow: hidden;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row */
}
.container .header{
    width: 100%;
    padding:20px;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    position:fixed ;

}
@media screen and (max-width:480px){
    .container .header{
        padding: 3px;
        width: 100%;
    }
    .container{
        width: 100%;
    }
}
.container .header .innerHeader{
    display: flex;
}
.container .header .innerHeader  #search{
    width: 80rem;
    height: 40px;
    caret-color: aqua;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.5rem;
    color: rgb(134, 32, 32);
    background-color: aqua;
}
@media screen and (max-width:480px){
    .container .header .innerHeader #search{
        width: 80%;
        height: 25px;
        font-size: 1rem;
    }
}
.container .header .innerHeader .search_img {
    background-color: aqua;
    width: 50px;
    height: 40px;
    top: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .5s ease-in-out;
    overflow: hidden;
}
@media screen and (max-width:480px){
    .container .header .innerHeader .search_img{
        width: 25px;
        height: 25px;
    }
}
.container .header .innerHeader .search_img:hover{
    transform: scale(1.1);
}
.container .header  .firstbtn {
    display: grid;
    width: 100px;
    height: 100px;
}
@media screen and (max-width:480px){
    .container .header .firstbtn{
        width: 50px;
        height: 50px;
    }   
}
.container .header .firstbtn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    width: 70px;
    height: 70px;
    box-shadow: 3px 4px 5px  aqua ;
}
.container .header .firstbtn button:hover{
    background-color: rgba(0, 0, 0, 0.801);
    width: 70px;
    height: 70px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid aqua;

}
.container .header .firstbtn button span {
    width: 50px;
    height: 5px;
    background-color: aqua;
    border-radius: 50px;
}
@media screen and (max-width:480px){
    .container .header .firstbtn button{
        gap: 5px;
        width: 40px;
        height: 40px;
    }
    .container .header .firstbtn button:hover{
        width: 40px;
        height: 40px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid aqua;
    }
    .container .header .firstbtn button span{
        width: 80%;
        height: 3.5px;
    } 
}

.container .header .style-scope .Notifications{
    background-color: transparent;
    color: aqua;
    border: none;
    margin: 0 20px;
}

.container .header .style-scope {
    border: none;
    margin: 0 20px;
    background-color: transparent;
}
@media screen and (max-width:480px){
    .container .header .style-scope .Notifications{
        margin: 0;
    }   
    .container .header .style-scope {
        margin: 0;
    }
    .container hr{
        position: absolute;
    }
}

.container hr{
    width: 80%;
    margin: 0  auto 50px;
    background-color: aqua;
    border: 1px solid aqua;
   

}
.container .link_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:200px ;
    height: 300px;
    background-color: aqua;
    clip-path: circle(50% at 0 0);
    transition: all 3s ease;
    justify-content: space-around;
    align-items: center;
}
.container .link_box:hover{
    clip-path: circle(100%);
}
.container .link_box a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    transition: all .5s;
    width: 200px;
    padding: 10px ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;

}
.container .link_box a:hover{

    color:aqua;
}
[link]:hover{

    background-color: black;
    
}
@media screen and (max-width:480px){
    .container .link_box{
        height: 100%;
        position: relative;
        justify-content: flex-start;
        clip-path: circle(50% at 0 0);
    }
    .container .link_box a{
        font-size: 1rem;
        width: 100%;
    }
    
}
.container .movie_Contaier{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.container .movie_Contaier .movie_box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    align-items: center;
    justify-content: center;
    
}
.container .movie_Contaier .movie_box .inner_box{
    width: 550px;
    height: 370px;
    overflow: hidden;

}
.container .movie_Contaier .movie_box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container .movie_Contaier .movie_box [name]{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width:480px){
    .container .movie_Contaier{
        width: 100%;
        position: absolute;
    }
    .container .movie_Contaier .movie_box {
        width: 150px;
        height: 200px;   
        padding: 0;     
    }
    .container .movie_Contaier .movie_box .inner_box{
        width: 150px;
        height: 100px;
        overflow: hidden;
    
    }
    /* .container .movie_Contaier .movie_box video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    } */
    .container .movie_Contaier .movie_box [name]{
        color: white;
        font-size: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}




.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img,.img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
















